/* CSS Document */
*{
	margin:0;
	padding:0;
	outline:none;
}

body{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#6F6F6F;
	background:#EBEFF3;
}

a{
	color:#417A03;
	text-decoration:none;
}
a:hover{
	color:#00cc00;
	text-decoration:none;
}
p{
	margin:0;
	padding:10px;
	line-height:18px;
}

table{
	margin:0;
	width:100%;
	border-collapse:collapse;
	display:block;
}
td{
	padding:0 10px;
	border-bottom:1px solid #DDDDDD;
}
tr:nth-child(odd){
	background:#FFFFFF;
}
tr:nth-child(even){
	background:#F4F4F4;
}
tr.head{
	height:40px;
	font-weight:bold;
	color:#000;
	background:-moz-linear-gradient(top, #99ff99 3%, #66ff66 3%, #33cc33 100%);
	border-top:1px solid #89C7EA;
	border-bottom:1px solid #64B0DB;
	text-shadow:0px 1px 0px #DEF1FB;
}
tr.data{
	height:35px;
	color:#000;
}
tr.no-data{
	height:40px;
	font-weight:bold;
	color:#ff0000;
	text-align:center;
}


ol,ul{
	list-style-type:none;
}
input[type="text"],
input[type="password"]{
	margin:0;
	padding:10px;
	border-radius:4px;
	box-shadow:0px 0px 0px 4px #99ff66;
	border:1px solid #C6C6C6;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
input[type="text"]:focus,
input[type="password"]:focus{
	box-shadow:0px 0px 0px 4px #00cc00;
	border:1px solid #A5C6EB;
}

input[type="submit"],
input[type="reset"]{
	margin:0;
	padding:6px 20px;
	border-radius:4px;
	box-shadow:0px 0px 0px 4px #CFE4FB;
	border:1px solid #6EA9EB;
	font-size:16px;
	font-family:'calibri';
	font-weight:bold;
	cursor:pointer;
	background:-moz-linear-gradient(top, #00cc00 3%, #66ff66 3%, #00cc00 100%);
	color:#000;
	text-shadow:0px 1px 0px #CDE2FA;
	text-transform:uppercase;
}

.login-box{
	margin:auto;
	top:5%;
	left:0;
	bottom:25%;
	right:0;
	position:absolute;
	width:400px!important;
}
.login-logo{
	margin:0 0 20px 0;
	text-align:center;
}
.login-form{
	margin:auto;
	border:1px solid #66ff66;
	background:#FFFFFF;
	box-shadow:0px 0px 0px 5px #66ff66;
	border-radius:10px;
}
.login-info{
	margin:0;
	padding:15px 20px;
	border-bottom:1px solid #C0C0C0;
	background:-moz-linear-gradient(top, #FFFFFF 3%, #F5F5F5 3%, #EBEBEB 100%);
	font-size:14px;
	text-align:center;
	border-radius:10px 10px 0 0;
	text-shadow:0px 1px 0px #fff;
	color:#000;
}
.login-form form{
	margin:0;
	padding:20px;
}
.login-form form input[type="text"],
.login-form form input[type="password"]{
	width:88%;
	margin:0 0 20px 0;
	padding:10px 0 10px 40px;
}
.login-form form input[type="text"]{
	background: url('../images/icon-1.png') no-repeat 2%;
}
.login-form form input[type="password"]{
	background: url('../images/icon-2.png') no-repeat 2%;
}
.error-login{
	margin:0;
	padding:13px 20px;
	background:-moz-linear-gradient(top, #FFFFFF 3%, #F5F5F5 3%, #EBEBEB 100%);
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
	border-top:1px solid #C0C0C0;
	border-radius:0 0 10px 10px;
	text-shadow:0px 1px 0px #fff;
}
.wrap{
	margin:20px auto;
	width:960px!important;
	text-align:justify;
}
.header{
	height:100px;
	border-bottom:1px solid #CCDCEC;
	box-shadow:0px 1px 0px #F5F9FD;
}
.h-left{
	float:left;
	width:400px!important;
}
.h-right{
	float:right;
	width:500px!important;
}
.clear{
	clear:both;
}
.u-info{
	float:right;
	position:relative;
	margin:20px 0 0 0;
}
.u-foto{
	float:left;
	width:70px!important;
}
.u-foto img{
	border-radius:6px;
}
.u-text{
	float:right;
	width:250px!important;
}
.u-name{
	font-size:20px;
	font-weight:normal;
	padding:0 0 5px 0;
}
.u-link{
	padding:0 0 10px 0;
}

.page{
	margin:20px 0;
	padding:0;
}
.p-left{
	float:left;
	width:260px;
}
.p-right{
	float:right;
	width:690px!important;
}
.box{
	margin:0 3px 20px 3px;
	border:1px solid #B8AFAF;
	background:#FFFFFF;
	box-shadow:0px 0px 0px 4px #CCD4DB;
	border-radius:5px;
}
.box h1{
	margin:0;
	padding:10px 10px;
	border-bottom:1px solid #C0C0C0;
	background:-moz-linear-gradient(top, #FFFFFF 3%, #F5F5F5 3%, #EBEBEB 100%);
	font-size:16px;
	border-radius:10px 10px 0 0;
	text-shadow:0px 1px 0px #fff;
	color:#000;
}
.box .nav li{
	line-height:20px;
}
.box .nav li a{
	display:block;
	padding:9px 0 9px 30px;
	font-weight:bold;
	font-size:12px;
	border-bottom:1px solid #C0C0C0;
	background:url('../images/b_minus.png') no-repeat 5% 15px;
	transition:all .25s ease-in-out;
}
.box .nav li a:hover{
	padding:9px 0 9px 40px;
}
.box .nav li:last-child a{
	border-bottom:none;
}

.box .form{
	margin:0;
	padding:10px 20px;
}
.box .form input[type="text"],
.box .form input[type="submit"]{
	margin:7px 0 15px 4px;
}
.box .form input#nama_kar,
.box .form input#alamat_kar,
.box .form input#kata{
	width:93%;
}
.box .form input#gaji_utama,
.box .form input#grade_kar,
.box .form input#no_rek{
	width:50%;
}

.salah{
	margin:0;
	padding:13px 20px;
	background:-moz-linear-gradient(top, #FFFFFF 3%, #F5F5F5 3%, #EBEBEB 100%);
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
	border-bottom:1px solid #C0C0C0;
	text-shadow:0px 1px 0px #fff;
}
.fitur{
	padding:0;
	margin:10px 0;
}
.fitur li{
	line-height:20px;
	font-weight:bold;
	padding:10px 10px 10px 30px;
	transition:all .25s ease-in-out;
	color:#417A03;
	border-bottom:1px solid #4590DA;
	border-left:13px solid #72B8FD;
	position:relative;
}
.fitur li:nth-child(odd){
	background:#FBFBFB;
}
.fitur li:nth-child(even){
	background:#99ff99;
}
.fitur li:after{
	content:'';
	position:absolute;
	top:31%;
	left:0%;
	width:0;
	height:0;
	border-left:9px solid #72B8FD;
	border-top:9px solid transparent;
	border-bottom:9px solid transparent;
}
.fitur li:first-child{
	border-top:1px solid #A1CEFB;
}
.fitur li:hover{
	color:#000;
	padding:10px 10px 10px 40px;
	cursor:move;
	border-left:20px solid #4590DA;
	background:#EEEEEE;
}
.fitur li:hover:after{
	content:'';
	position:absolute;
	top:31%;
	left:0%;
	width:0;
	height:0;
	border-left:9px solid #4590DA;;
	border-top:9px solid transparent;
	border-bottom:9px solid transparent;
}

.print {
  background: #4fd934;
  background-image: -webkit-linear-gradient(top, #4fd934, #36b82b);
  background-image: -moz-linear-gradient(top, #4fd934, #36b82b);
  background-image: -ms-linear-gradient(top, #4fd934, #36b82b);
  background-image: -o-linear-gradient(top, #4fd934, #36b82b);
  background-image: linear-gradient(to bottom, #4fd934, #36b82b);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #fffff;
  font-size: 13px;
  padding: 5px;
  text-decoration: none;
  width:65px;
  margin:5px;
}

.print a {
color:#000;
}

.print:hover {
  background: #166602;
  background-image: -webkit-linear-gradient(top, #166602, #34d960);
  background-image: -moz-linear-gradient(top, #166602, #34d960);
  background-image: -ms-linear-gradient(top, #166602, #34d960);
  background-image: -o-linear-gradient(top, #166602, #34d960);
  background-image: linear-gradient(to bottom, #166602, #34d960);
  text-decoration: none;
  color:#fff;
}